extends layout.pug

block content
	section.container
		h1.header= title
		img(src="indentation-war.png")
		article.item
			div
				a.button.add(href="/agregar") Add new
			if(data.length)
				table.table
					tr
						th Name
						th Twitter
						th Country
						th Team
						th
						th
					each contacto in data
						tr
							td #{contacto.name}
							td #{contacto.twitter}
							td #{contacto.country}
							td #{contacto.side}
							td 
								a.button.edit(href="/editar/" + contacto.id) Edit
							td
								form(method="post", action="/eliminar/" + contacto.id)
									input.button.delete(type="submit", value="Delete")
			else
				div.error Nothing to show
